body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Animações de Hover */
.btn:hover, .card:hover {
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.navbar-brand:hover, .nav-link:hover {
    color: #dc3545 !important;
}

/* Esconde as divs de detalhes de pagamento por padrão */
.payment-details {
    display: none;
}